/** Damir Abdrafikov / UO277306 / SEW / 2023-2024 **/

/* Especificidad 0-0-1 */
section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 20%;
  margin-left: 20%;
  row-gap: 10px;
  column-gap: 2%;
}

/* Especificidad 0-0-2 */
section > h2 {
  flex-basis: 100%;
  text-align: center;
}

/* Especificidad 0-0-2 */
section article {
  height: 200px;
  flex-basis: 23.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  transition: background-color 0.2s, transform 0.5s;
  color: black;
  background-color: #6aabd2;
  transform-style: preserve-3d;
}

/* Especificidad 0-1-2 */
section article:hover:not(:is([data-state="revealed"], [data-state="flip"])) {
  /* Redefinición verificada */
  background-color: #d9e4ec;
  cursor: pointer;
}

/* Especificidad 0-0-3 */
section article img {
  width: 90%;
  height: 90%;
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

/* Especificidad 0-0-3 */
section article h3 {
  backface-visibility: hidden;
}

/* Especificidad 0-1-2 */
section article:is([data-state="revealed"], [data-state="flip"]) {
  transform: rotateY(180deg);
}
